.popup__text {
  display: block;
  border-width: 0 0 1px 0;
  margin: 30px auto 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding-bottom: 7px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  width: calc(100% - 2 * 36px);
}
@media screen and (max-width: 640px) {
  .popup__text {
    width: calc(100% - 2 * 22px);
  }
}
