.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 auto;
}
@media screen and (max-width: 1079px) {
  .main {
    width: calc(100% - 2 * 30px);
  }
}
@media screen and (max-width: 640px) {
  .main {
    width: calc(100% - 2 * 19px);
  }
}
