.popup__name {
  display: block;
  border-width: 0 0 1px 0;
  margin: 0 auto 30px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  padding-bottom: 13px;
  border-bottom-color: black;
  width: calc(100% - 2 * 36px);
}
@media screen and (max-width: 640px) {
  .popup__name {
    width: calc(100% - 2 * 22px);
  }
}
