.footer {
  text-align: left;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1079px) {
  .footer {
    width: calc(100% - 2 * 30px);
  }
}
@media screen and (max-width: 640px) {
  .footer {
    width: calc(100% - 2 * 19px);
  }
}
