.profile__add-button-rect {
  height: 50px;
  width: 150px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  box-sizing: border-box;
  background-image: url(../../../images/elements/add_button_profile.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
  background-color: black;
}
.profile__add-button-rect:hover {
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 0.3s;
}
@media screen and (max-width: 640px) {
  .profile__add-button-rect {
    width: 100%;
    margin-left: 0;
    padding: 0;
    justify-self: center;
    background-size: 16px 16px;
  }
}
